<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab5.Properties.Settings.avtorization" connectionString="Data Source=DESKTOP-VIBBKL1;Initial Catalog=avtoriz;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Lab5.Properties.Settings.rest" connectionString="Data Source=DESKTOP-VIBBKL1;Initial Catalog=rest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>